* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
/*-------------------------HEADER------------------------------*/
.main-header {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}
.corrientes-code {
    padding: 10px;
    text-align: left;
}
.corrientes-code span a {
    font-size: 20px;
    font-weight: bold;
    color: black;
} 
.main-nav {
    width: 100%;
}
nav {
    float: left;
    background-color: #35a700;  
}
nav ul li {
    list-style: none;
    float: left;
    padding: 15px 133.6px;
}
nav ul li a {
    text-align: center;
    color: white;  
    font-size: 20px; 
}
nav ul li a:hover {
    cursor: pointer;
    color: rgb(255, 196, 0);
}
.header-container {
    background-image: linear-gradient(rgba(5,7,12,0.7),rgba(5,7,12,0.7)),
    url(/img/FONDO.jpeg);
    background-repeat: no-repeat;
    background-size: 130%;
    text-align: center;
    padding: 148px;
}
.header-title span h1 {
    padding: 30px;
    color: white;
} 
.button input {
    padding: 5px 40px;
    background-color: #35a700;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: bold;
} 
.button input:hover {
    cursor: pointer;
    color: rgb(255, 196, 0);
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*------------------------MAIN---------------------------*/
.menu-container {
    width: 100%;
    height: 900px;
    background-color: #d3eaf2;
}
.main-menu {
    width: 80%;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: 30px;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.main-title {
    margin: 0 auto;
    position: relative;
    top: 70px;
    width: 320px;
}
.main-title h2 {
    color: black;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 30px;
}
.main-container {
    display: flex;
    margin: 0 auto;
    position: absolute;
    bottom: 400px;
}
.diseno-web {
    position: relative;
    padding: 30px 20px;
}
.title-article-1 h3 {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 120px;
    color: #35a700;
}
.container-icon-tabler-palette {
    border-radius: 100px;
    background-color: rgb(255, 196, 0);
    position: absolute;
    top: 45px;
    left: 130px;
    padding: 30px 30px;
}
.container-description-1 {
    position: relative;
    top: 120px;
}
.description-1 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
.mobile-app {
    position: relative;
    padding: 80px 20px;
}
.title-article-2 h3 {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 85px;
    color: #35a700;
}
.container-icon-android-apple {
    border-radius: 100px;
    background-color: rgb(255, 196, 0);
    position: absolute;
    top: 45px;
    left: 130px;
    padding: 30px 15px;
}
.container-description-2 {
    position: relative;
    top: 70px;
}
.description-2 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
.e-commerce {
    position: relative;
    padding: 80px 20px;
}
.title-article-3 h3 {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 125px;
    color: #35a700;
}
.container-icon-tabler-credit-card {
    border-radius: 100px;
    background-color: rgb(255, 196, 0);
    position: absolute;
    top: 45px;
    left: 140px;
    padding: 30px 30px;
}
.container-description-3 {
    position: relative;
    top: 70px;
} 
.description-3 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
/*--------------------------FORM-------------------------------*/
.contact {
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    top: 380px;
}
.contact-form {
    background-color: #757575;
    color: white;
    padding: 30px;
    margin: 0 auto;
    width: 630px;
    height: 270px;
    border-radius: 12px;
    font-weight: bold;
    position: relative;
    top: 410px;
}
.contact-title {
    color: rgb(255, 217, 0);
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.5px;
    position: relative;
    bottom: 5px;
}
input, textarea {
    border: none;
    outline: none;
}
.field {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    width: 460px;
}
.field:focus {
    border: solid 2px rgb(255, 217, 0);
}
.container-nombre {
    width: 300px;
    position: relative;
    top: 15px;
} 
#nombre {
    position: relative;
    left: 5px;
    width: 200px;
}
.container-telefono {
    width: 300px;
    height: 27px;
    position: relative;
    left: 300px;
    bottom: 12px;
}
#telefono {
    position: relative;
    left: 5px;
    width: 200px;
}
.container-correo {
    width: 600px;
    height: 27px;
    position: relative;
    top: 5px;
}
#correo {
    position: relative;
    left: 12px;
    width: 505px;
}
.container-mensaje {
    width: 600px;
    height: 53px;
    position: relative;
    top: 20px;
}
#mensaje {
    padding: 10px;
    width: 505px;
}
.mensaje {
    position: relative;
    bottom: 25px;
}
.container-btn {
    width: 140px;
    text-align: center;
    position: relative;
    left: 443px;
    top: 40px;
}
#enviar {
    background-color: #35a700;
    color: white;
    border-radius: 5px;
    width: 130px;
    text-transform: uppercase;
    font-weight: bold;
    height: 25px;
}
#enviar:hover {
    cursor: pointer;
    color: rgb(255, 196, 0);
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*------------------------FOOTER-----------------------------*/
.main-footer {
    width: 100%;
    height: 20px;
    background-color: #d3eaf2;
}
.pie {
    text-align: center;
    color: rgb(117, 117, 117);
    font-weight: bold;
    font-size: 15px;
}


